/* Reset default box model, padding, and margin for all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Set the background color for the entire page */
body {
    background-color: #d9dcd6;
}
/* Style for the header section */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Style display and font size for the header's h1 element */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Style the color for the "seo" class within the header */
.header h1 .seo {
    color: #d9dcd6;
}
/* Style for the div within the header */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}
/* Style display and margin left for unordered lists within the div */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Style the colour and ensured no text decoration for anchor (link) elements */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Style the font size for paragraph elements */
p {
    font-size: 16px;
}
/* Style for the hero class */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Classes for floating elements to the left and right */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Style the width,display and margin left for the content section */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Style for the benefits section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Style the margin bottom and color for individual benefit sections (lead, brand, cost) */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Style margin bottom and text align for h3 headings within benefit sections */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Style the display,margin and max width for images within benefit sections */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Styles for sections with specific services (SEO, online reputation, social media marketing) */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Style max-height for images within service section of SEO,online rep management and social media marketing */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}
/* Style the margin and font size for h2 headings within specific service sections:social media marketing,online repuation management and SEO. */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Style the padding,font family,align text and made it clear for the footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Style the font-size for h2 headings within the footer */
.footer h2 {
    font-size: 20px;
}
